node_modules
npm-debug.log
.env
**/.env
.git
.gitignore
auth-service/**
!auth-service/src/
!auth-service/src/*.js
log-service

node_modules
**/node_modules
.git
**/.git
.env
.env.*
**/.env
**/.env.*
*.pem
**/*.pem
*.key
**/*.key
.npmrc
**/.npmrc
.aws
**/.aws
.ssh
**/.ssh
npm-debug.log
tmp

docs/prints
docs/evidencias
docs/evidencias_atividades
docs/*.pdf
docs/*.typ
